h1 {
  font-weight: bold;
  font-size: 26px;
}

body{
  font-size:18px;
}

img {
  max-width: 100%;
  text-align: center;
}

.byline{
  font-weight: bold;
  font-size: 14px;
}

.dateline{
  font-style: italic;
  font-size: 14px;
}

figure {
  margin: 10px;
}

figcaption{
  font-style: italic;
  font-size: 14px;
}
body{
  font-family: 'PT Serif', serif;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 10px;
    text-align: center;
    text-decoration: none;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #cd486b;
    color: white;
}

div{
  text-align: right;
}
